.rebar/
.eunit/
.project
.settings/
log/
ebin/
deps/
*.dump
rel/erod
rebar
apps/erdom/doc/
apps/erdom/test/*.beam
apps/erdom/test/logs
apps/erod/doc/
apps/erod/test/*.beam
apps/erod/test/logs
apps/erodlib/doc/
apps/erdlib/test/*.beam
apps/erdlib/test/logs
apps/erodws/doc
apps/erodws/test/*.beam
apps/erodws/test/logs
