[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {lager,
  [{handlers,
    [{lager_console_backend,
      [debug, {lager_default_formatter,
               [time," [",severity,"] ", pid, " ",
                message, " (", module, ":", line, ")\n"]}]},
     {lager_file_backend,
      [{file, "error.log"}, {level, error},
       {size, 10485760}, {date, "$D0"}, {count, 5}]},
     {lager_file_backend,
      [{file, "debug.log"}, {level, debug},
       {size, 10485760}, {date, "$D0"}, {count, 5}]}
    ]}
  ]},

 % erdom specific configuration
 {erod,
  [{document_factories,
    [{index, erdom_document_index, []},
     {group, erdom_document_group, []},
     {user, erdom_document_user, []}
   ]}
 ]}

].

